.floating-images {
  position: fixed;
  width: 1024px;
  height: 100vh;
  min-height: 720px;
  margin: 0 0 0 50%;
  left: -512px;
  top: 0;
  z-index: 100;
}

.boy {
  position: absolute;
  background-image: url(../images/boy.svg);
  background-size: 100%;
  width: 378px;
  height: 309px;
  left: 538px;
  top: 0px;
  transform: translate3d(0, -100px, 0) rotate(0deg) scale(0.5);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0.4s;
  /*animation: floteRotate2 5s cubic-bezier(0.45, 0, 0.55, 1) infinite alternate;*/
  animation-delay: 3s;
}

@keyframes floteRotate2 {
  to {
    transform: translate3d(0, -20px, 0) rotate(23deg) scale(1);
  }
}

:global(.shown) .boy {
  transform: translate3d(-100px, -40px, 0) rotate(-30deg) scale(1);
  opacity: 1;
}

.girl-wrap {
  position: absolute;
  width: 748px;
  height: 414px;
  right: -300px;
  bottom: 0px;
}

.girl {
  position: absolute;
  background-image: url(../images/girl.svg);
  background-size: 100%;
  width: 398px;
  height: 338px;
  left: 70px;
  top: 0px;
  transform: translate3d(60px, 100px, 0) rotate(20deg) scale(0.5);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0s;
  /*animation: float2 3.2s cubic-bezier(0.45, 0, 0.55, 1) infinite alternate;*/
  animation-delay: 2s
}

:global(.shown) .girl {
  transform: translate3d(0, 0, 0) rotate(20deg) scale(1);
  opacity: 1;
}

@keyframes float2 {
  to {
    transform: translate3d(0, -10px, 0) rotate(20deg) scale(1.5);
  }
}

.left-curl {
  position: absolute;
  background-image: url(../images/left-curl.svg);
  background-size: 100%;
  width: 236px;
  height: 168px;
  left: -90px;
  top: 200px;
  transform: translate3d(60px, 100px, 0) rotate(-40deg) scale(0.5);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0.1s;
  /*animation: leftCurlFloat 3.2s cubic-bezier(0.45, 0, 0.55, 1) infinite alternate;*/
  animation-delay: 2s;
}

:global(.shown) .left-curl {
  transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
  opacity: 1;
}

.right-curl {
  position: absolute;
  background-image: url(../images/right-curl.svg);
  background-size: 100%;
  width: 247px;
  height: 161px;
  right: 120px;
  top: 180px;
  transform: translate3d(60px, 100px, 0) rotate(40deg) scale(0.5);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0s;
  /*animation: rightCurlFloat 3.2s cubic-bezier(0.45, 0, 0.55, 1) infinite alternate;*/
  animation-delay: 2s;
}

:global(.shown) .right-curl {
  transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
  opacity: 1;
}

@keyframes leftCurlFloat {
  to {
    transform: translate3d(0, -5px, 0) rotate(-5deg);
  }
}

@keyframes rightCurlFloat {
  to {
    transform: translate3d(0, -5px, 0) rotate(10deg);
  }
}

@keyframes floteRotate {
  to {
    transform: translate3d(0, -10px, 0) rotate(-2deg);
  }
}

.star {
  position: absolute;
  background-image: url(../images/star.svg);
  background-size: 100%;
  width: 94px;
  height: 94px;
  left: 224px;
  top: 210px;
  transform: translate3d(-280px, -260px, 0) rotate(-20deg) scale(1);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0.7s
}

:global(.shown) .star {
  transform: translate3d(-180px, -160px, 0) rotate(-200deg) scale(4);
  opacity: 1;
}

:global(.sign-up) .star {
  transform: translate3d(-200px, -200px, 0) rotate(-20deg) scale(3.7);
  opacity: 1;
}



.net {
  position: absolute;
  background-image: url(../images/net.svg);
  background-size: 100%;
  width: 308px;
  height: 224px;
  left: 440px;
  bottom: 185px;
  transform: translate3d(0px, 40px, 0) rotate(-10deg) scale(0.5);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0.3s
}

:global(.shown) .net {
  transform: translate3d(-110px, 160px, 0) rotate(0deg) scale(1);
  opacity: 1;
}

.d {
  position: absolute;
  background-image: url(../images/d.svg);
  background-size: 100%;
  width: 174px;
  height: 226px;
  right: -240px;
  top: 185px;
  transform: translate3d(100px, -50px, 0) rotate(40deg);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0.5s
}

:global(.shown) .d {
  transform: translate3d(0, 0, 0) rotate(20deg) scale(2);
  opacity: 1;
}

.five {
  position: absolute;
  background-image: url(../images/5.svg);
  background-size: 100%;
  width: 203px;
  height: 328px;
  left: -200px;
  bottom: 40px;
  transform: translate3d(-80px, 100px, 0) rotate(20deg) scale(0.8);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0.45s;
  /*animation: float3 3.2s cubic-bezier(0.45, 0, 0.55, 1) infinite alternate;*/
  animation-delay: 2.2s
}

:global(.shown) .five {
  transform: translate3d(0, 30px, 0) rotate(-20deg) scale(1.5);
  opacity: 1;
}

@keyframes float3 {
  to {
    transform: translate3d(0, -8px, 0) rotate(-25deg) scale(1);
  }
}

.punk {
  position: absolute;
  background-image: url(../images/punk.svg);
  background-size: 100%;
  width: 368px;
  height: 376px;
  right: -30px;
  top: 150px;
  transform: translate3d(-200px, -400px, 0) rotate(-70deg) scale(0.2);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0.5s
}

:global(.shown) .punk {
  transform: translate3d(40px, -240px, 0) rotate(-10deg) scale(1);
  opacity: 1;
}

.scale {
  position: absolute;
  background-image: url(../images/scale.svg);
  background-size: 100%;
  width: 60px;
  height: 289px;
  left: -160px;
  top: 0px;
  transform: translate3d(-100px, -10px, 0) rotate(0deg) scale(0.5);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0.6s
}

:global(.shown) .scale {
  transform: translate3d(0, 100px, 0) rotate(-40deg) scale(2);
  opacity: 1;
}


@media (max-width: 1024px) {

  .floating-images {
    position: fixed;
    width: 100%;
    height: 100%; 
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }

  .boy {
    display: none;
  }
  
  .girl-wrap {
    display: none;
  }

  .star {
    left: 224px;
    top: 210px;
  }
  
  :global(.shown) .star {
    transform: translate3d(-180px, -160px, 0) rotate(-200deg) scale(3);
  }

  .five {
    left: auto;
    right: 50px;
    bottom: -40px;
  }

  :global(.shown) .five {
    transform: translate3d(0, 30px, 0) rotate(-20deg) scale(1);
  }

  .scale {
    left: 0px;
    top: 130px;
  }

  :global(.shown) .scale {
    transform: translate3d(0, 100px, 0) rotate(-40deg) scale(1.3);
    opacity: 1;
  }

  .d {
    right: -40px;
    top: 185px;
  }
  
  :global(.shown) .d {
    transform: translate3d(0, 0, 0) rotate(20deg) scale(1.5);
  }

  .punk {
    display: none;
  }
  
}
