.intro-wrap {
  padding: 0;
  max-width: 896px;
  margin: 0;
}

h2 {
  font-family: "GoshaSansRegular", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 42px;
  line-height: 1.1;
  font-weight: normal;
}

.page-title {
  margin: 0;
  padding: 0 0 32px 0;
  max-width: 860px;
  transform: translate3d(0px, 40px, 0) rotate(0deg) scale(1);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
  transition-delay: 0.1s
}

:global(.shown) .page-title {
  transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
  opacity: 1;
}

.sub-header {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 21px;
    max-width: 700px;
    transform: translate3d(0px, 40px, 0) rotate(0deg) scale(1);
    transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    opacity: 0;
    transition-delay: 0.15s
  }

  :global(.shown) .sub-header {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }

.grey-text {
    opacity: 0.5;
}

.button {
    display: inline-block;
    margin: 32px 0;
    background: transparent;
    border: 0.5px solid #000000;
    padding: 16px 40px; 
    text-transform: uppercase;
    font-family: "GoshaSansRegular";
    font-size: 17px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #000000; 
    transform: translate3d(0px, 40px, 0) rotate(0deg) scale(1);
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1),
                opacity 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    opacity: 0;
    transition-delay: 0.2s;
    display: none;
  }

  :global(.shown) .button {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }

.button:hover {
    background: #FFE576;
}
  

@media (max-width: 1024px) {

  .page-title {
    max-width: auto;
  }
  
  .sub-header {
    max-width: auto;
  }
  
}


@media (max-width: 860px) {

  h2.page-title {
    font-size: 32px;
    padding: 0 0 24px 0;
  }

  .intro-wrap {
    padding: 0 0 102px 0;
  }

}


@media (max-width: 600px) {

  h2.page-title {
    font-size: 26px;
  }
  
  .sub-header {
    font-size: 16px;
  }

}

