@import "../css/normalize.css";
@import "../css/typography.css";

body {
    font-family: "GerberaLight", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    background: #FFFFFF;
    color: #000000;
    line-height: 1.6;
    font-size: 18px;
}

.layout {
    margin: 0 auto;
}

.layout-inner {
    display: flex;
    margin: 0 auto;
    width: 1024px;
    height: 100vh;
    min-height: 540px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    z-index: 200;
}

@media (max-width: 1280px) {

    .layout-inner {
        width: auto;
        min-height: 540px;
        padding: 0 32px;
    }
    
}

@media (max-width: 860px) {
    .layout-inner {
        padding: 0 24px;
        justify-content: center
    }
}
